.App {
  text-align: center;
}
.main{
  display: flex;
  flex-direction: column;
}
.Top{
  background-color: aqua;
}
.Middle{
  background-color: blueviolet;
  
}
.Bottom{
  background-color: rgba(239, 192, 134, 0.885);
}
